# vim: syntax=ini
SIGNUPS_ALLOWED={{ ct_vaultwarden_env_signups_allowed }}
INVITATIONS_ALLOWED={{ ct_vaultwarden_env_invitations_allowed }}
ADMIN_TOKEN={{ ct_vaultwarden_env_admin_token }}
DISABLE_ADMIN_TOKEN={{ ct_vaultwarden_env_disable_admin_token }}
WEBSOCKET_ENABLED={{ ct_vaultwarden_env_websocket_enabled }}
DOMAIN={{ ct_vaultwarden_env_domain }}
SMTP_HOST={{ ct_vaultwarden_env_smtp_host }}
SMTP_FROM={{ ct_vaultwarden_env_smtp_from }}
SMTP_PORT={{ ct_vaultwarden_env_smtp_port }}
SMTP_SSL={{ ct_vaultwarden_env_smtp_ssl }}
SMTP_USERNAME={{ ct_vaultwarden_env_smtp_username }}
SMTP_PASSWORD={{ ct_vaultwarden_env_smtp_password }}
SMTP_EXPLICIT_TLS={{ ct_vaultwarden_env_smtp_explicit_tls }}
SHOW_PASSWORD_HINT={{ ct_vaultwarden_env_show_password_hint }}
{% for key, value in ct_vaultwarden_env_extra.items() %}
{{ key }}={{ value }}
{% endfor %}